VSVersionInfo(
		ffi=FixedFileInfo(
		filevers=(0, 9, 4, 0),
		prodvers=(0, 9, 4, 0),
		mask=0x3f,
		flags=0x0,
		OS=0x4,
		fileType=0x1,
		subtype=0x0,
		date=(0, 0)
),
  kids=[
StringFileInfo(
  [
  StringTable(
    u'040904B0',
    [StringStruct(u'CompanyName', u'pygpt.net'),
    StringStruct(u'FileDescription', u'GPT4, GPT3 and DALL-E2 API-based chatbot, completion and image generation Windows Desktop App'),
    StringStruct(u'FileVersion', u'0.9.4'),
    StringStruct(u'InternalName', u'Py-GPT'),
    StringStruct(u'LegalCopyright', u'(c) 2023 pygpt.net, Marcin Szczygliński'),
    StringStruct(u'OriginalFilename', u'Py-GPT.exe'),
    StringStruct(u'ProductName', u'pygpt.net'),
    StringStruct(u'ProductVersion', u'0.9.4')])
  ]), 
VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)