* {{
    font-family: 'Lato'; 
}}
body {{ 
    color: #fff;
    word-wrap: break-word;
}}
a {{
    color: #fff;
}}
.msg-user {{
    color: #bdbdbd !important;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.msg-bot {{
    color: #fff;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.cmd {{
    color: #4d4d4d;
    font-family: 'Lato';
}}
.ts {{
    color: #4d4d4d;
}}
.list {{
}}
pre {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    background-color: #202225;
    font-family: 'Monaspace Neon';
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}}
code {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    word-wrap: break-word;
    font-family: 'Monaspace Neon';
}}