/* Retro theme: Dark-compatible synthwave palette. */
* {{
    font-family: 'Lato'; 
}}
body {{ 
    color: #f4e9ff;
    word-wrap: break-word;
}}
a {{
    color: #39dfff;
}}
.msg-user {{
    color: #c7a7e8 !important;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.msg-bot {{
    color: #f4e9ff;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.cmd {{
    color: #806497;
    font-family: 'Lato';
}}
.ts {{
    color: #9a80b2;
}}
.list {{
}}
pre {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    background-color: #21142f;
    font-family: 'Monaspace Neon';
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}}
code {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    word-wrap: break-word;
    font-family: 'Monaspace Neon';
}}
