body {{ 
  color: #fff;
}}
a {{
    color: #fff;
}}
.msg-user {{
    color: #bdbdbd !important;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.msg-bot {{
    color: #fff;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.cmd {{
    color: #4d4d4d;
}}
.ts {{
    color: #4d4d4d;
}}
.list {{
}}
pre {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    background-color: #202225;
    font-family: 'Lato';
    display: block;
}}
code {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
}}