a {{
    color: #fff;
}}
img {{
    width: 400px !important;
}}
.image {{
    width: 200px !important;
}}
.msg-user {{
    color: #686868 !important;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.msg-bot {{
    border: 1px solid #fff;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.cmd {{
    color: #4d4d4d;
}}
.ts {{
    color: #4d4d4d;
}}
pre {{
    color: #000;
    background-color: #dbdbdb;
    border: 1px solid #fff;
    font-family: 'Courier New', monospace;
    display: block;
    padding: 0px !important;
}}
code {{
    color: #000;
}}