body {{ 
  word-wrap: break-word;
}}
a {{
    color: #fff;
}}
.msg-user {{
    color: #bdbdbd !important;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.msg-bot {{
    color: #fff;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
}}
.cmd {{
    color: #4d4d4d;
    text-decoration: none;
}}
.ts {{
    color: #4d4d4d;
}}
.list {{
}}
pre {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    background-color: #202225;
    font-family: 'Monaspace Neon';
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    background: #00ff00;
}}
code {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    word-wrap: break-word;
    font-family: 'Monaspace Neon';
}}
.code-header-wrapper {{
    text-align: right;
    width: 100%;
    padding: 10px;
}}
.code-header {{
    text-align: right;
    width: 100%;
    padding: 10px;
}}
.code-header-lang {{
    color: #4d4d4d;
}}
.code-header-copy {{
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    display: block;

}}
.code-wrapper {{
    background-color: #202225;
    padding: 20px;
}}