* {{ 
  font-family: 'Lato' !important; 
}}

QLineEdit {{
  color: #ffffff; 
  border: 1px solid #5c5c5c;
}}
QTextEdit {{
  color: #ffffff; 
  border: 1px solid #5c5c5c;
}}

QComboBox {{
  color: #fff;
}}
QTreeView,
QListView,
QLineEdit,
QComboBox {{  
  height: 30px;
}}
QTableView::item,
QTreeView::item,
QListView::item {{
  padding: 4px;
  min-height: 20px;
}}
QListView::item:selected,
QTreeView::item:selected {{
  color: #ffffff;
  selection-color: #ffffff;
}}
QComboBox::item:selected {{
  color: #000;
  selection-color: #000;
}}
QListView::item:selected:focus, 
QComboBox::item:selected:focus,
QTreeView::item:selected:focus {{
  color: #ffffff;
  selection-color: #000000;
}}
QListView::item::disabled {{
   color: #959595;
   font-weight: bold;
}}
QMenuBar::item:selected {{ 
  color: #000000;
}} 
QMenu::item:selected {{ 
  color: #000000;
}} 
.label-title {{
  font-weight: bold;
}}
.label-help {{
  color: #999;
}}
.label-chat-status {{
  color: #999;
}}
.label-link {{
  color: #90d9ff;
  font-weight: bold;
  text-decoration: none;
}}
.interpreter-input {{
  font-family: 'Monaspace Neon';
}}
.interpreter-output,
.code-editor {{
  font-family: 'Monaspace Neon';
  background: #232629; 
  color: #fff;
}}
QComboBox::item:disabled {{
  color: #d1d2d2;
}}
* {{
  selection-background-color: #fff;
  selection-color: #000;
}}

