@font-face {{
  font-family: "Lato";
  src: url('file:///%fonts%/Lato/Lato-Regular.ttf');
}}
@font-face {{
  font-family: "Monaspace Neon";
  src: url('file:///%fonts%/MonaspaceNeon/MonaspaceNeon-Regular.otf');
}}
* {{
  font-family: 'Lato'; 
}}
body {{ 
  word-wrap: break-word;
  padding: 6px;
  line-height: 1.25;
  padding: 0;
  margin: auto;
  max-width: 100%;
  border-radius: .25rem;
}}
::-webkit-scrollbar {{
  height: 12px;
  width: 12px;
}}
::-webkit-scrollbar-thumb {{
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: none;
}}
#container {{
  will-change: transform, opacity;
}}
#__nodes__ {{
 margin-top: 2rem;
}}

/* base */
a {{
  text-decoration: none;
  color: #a1b5c4 !important;
}}
a:hover {{
  cursor: pointer !important;
  text-decoration: underline;
}}
p {{ 
  margin-top: 0px;
  margin-bottom:0px;
}}
/* lists, code */
ol,
ul {{
  list-style-position: outside  !important;
  padding-inline-start: 2rem;
  margin: 0 0 0 0;
}}

li > p:first-child {{
  margin: 0;
  margin-top: -1.25rem;
}}

li + li {{
  margin-top: .35em;
}}

li div:first-child {{
 margin-top: 1rem;
}}
pre {{
  font-family: 'Monaspace Neon';
  display: block;
  text-align: left;
  padding: 0;
  overflow-y: auto;
}}
code {{
  font-family: 'Monaspace Neon';
  overflow-y: auto;
  font-size: 0.8rem;
}}
think {{
  border-left: 4px solid silver;
  display: block;
  padding-left: 1rem;
  margin-top: 0;
  padding-top: 0;
  font-size: 0.8rem;
}}

/* code wrapper */
.code-header-wrapper {{
  text-align: right;
  width: auto;
  height: 20px;
  padding: 10px;
  padding-top: 10px;
  margin: 0;
  font-size: 0.75rem;
  -webkit-border-top-left-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  -moz-border-radius-topleft: .25rem;
  -moz-border-radius-topright: .25rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}}
.code-header {{
  text-align: right;
  width: 90%;
  padding: 0px;
  font-size: 0.75rem;
}}
.code-header-lang {{
  float: left;
  padding-top: 4px;
  padding-left: .25rem;
}}
.code-header-action {{
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  color: #6e6e6e;
  padding-right: .25rem;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}}
.code-header-action img {{
  vertical-align: middle;
  padding-right: 5px;
  padding-bottom: 3px;
}}
.code-header-action:hover, {{
  text-decoration: none;
  cursor: pointer;
}}
.code-header-action:hover img {{
  filter: brightness(130%);
}}
.code-wrapper {{
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: .25rem;
  margin-bottom: 1rem;
}}
.code-wrapper pre {{
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}}
.code-wrapper pre code {{
 max-height: 1000px;
 overflow-y: auto;
 padding: 1.5rem;
}}
.highlight span {{
  font-family: 'Monaspace Neon';
}}

/* action icons */
.action-icons {{
  margin-top: 20px;
}}
.action-icons a {{
  text-decoration: none;
}}
.action-icons a:hover {{
  filter: brightness(120%);
}}
.action-img {{
  width: 20px;
  height: 20px;
}}
.edit-icon {{
  display: inline;
}}
.theme-blocks.display-timestamp .ts {{
  display: inline;
}}

/* message box */
.msg-box {{
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 0px;
}}
.msg-user {{
  white-space: pre-wrap;
  width: fit-content;
  min-width: 10px;
  max-width: 75%;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 5px;
  border: none;
}}
.msg-bot {{
  white-space: pre-wrap;
  width: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: none;
  border: none;
}}
.msg-box .name-header.name-bot {{
  display: block;
  margin-left: -10px;
  margin-bottom: 1rem;
  color: #cfcfcf;
}}
.msg-box .name-header.name-bot .avatar {{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
  object-fit: cover;
  margin-right: 10px;
}}
.msg-box .name-header.name-bot {{
  display: block;
  margin-left: -10px;
  margin-bottom: 1rem;
  color: #cfcfcf;
}}
.msg-box .name-header.name-bot .avatar {{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
  object-fit: cover;
  margin-right: 10px;
}}
.msg-extra {{
  margin-top: 10px;
  margin-bottom: 0px;
  color: gray;
}}
.msg-extra a {{
  color: gray;
}}
.msg-user .msg-extra {{
  display: none;
}}
.msg-box .msg {{
  margin: 0;
  padding: 5px;
  width: auto;
}}
.name-user {{
  display: none;
}}
.ts {{
  display: none;
}}
#_append_output_ .msg-bot {{
 margin-top: 5px !important;
}}

/* images */
.image {{
  max-width: 320px;
}}

/* cmd */
.cmd {{
  font-family: 'Monaspace Neon';
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 0.75rem;
}}

/* tool output */
.tool-output-header {{
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  color: gray;
}}
.tool-output .content {{
  font-family: 'Monaspace Neon';
  padding: 10px;
  color: gray !important;
  font-size: 0.75rem;
}}
.tool-output .toggle-cmd-output {{
  cursor: pointer;
  padding-top: 0px;
  display: block;
  color: gray;
}}

/* extra source */
.extra-src-icon {{
  padding-right: 2px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}}
.extra-src-img-box {{
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 5px;
  max-width: 320px;
  height: auto;
  white-space: pre-wrap;
  word-break: break-all !important;
}}
.extra-src-img-box:hover {{
  cursor: pointer;
}}
.extra-src-img-box .title {{
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  padding: 0;
  margin: auto;
  padding-top: 10px;
  display: block;
  font-size: 0.75rem;
  width: auto;
}}
.extra-src-img-box .img-outer {{
  display: flex;
  flex-direction: column;
  width: auto;
}}
.extra-src-img-box .img-wrapper {{
  position: relative;
  overflow: hidden;
  border: none;
  background: transparent;
  max-width: 250px;
  height: 150px;
  margin: 0;
  margin-bottom: 0px !important;
  border-radius: 0;
  width: auto;
}}
.extra-src-img-box .img-wrapper:hover {{
  cursor: pointer;
  border: none;
  filter: brightness(105%);
}}
.extra-src-img-box img {{
  margin-bottom: 2px;
  padding-bottom: 0px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}}
.extra-src-video-box,
.video-player {{
  max-width: 400px;
  text-align: left;
}}

/* common */
.toggle-expanded {{
  transform: rotateX(180deg);
}}
.append_input {{
  margin: 0;
  padding: 0;
}}
.append_output {{
  margin: 0;
  padding: 0;
}}
.append_live {{
  font-size: 0.8rem;
}}
.hidden {{
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}}
.visible {{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}}
.empty_list {{
}}
.debug {{
  color: orange !important;
  background: #0d1117;
  padding: 10px;
  font-size: 0.9rem;
}}

/* loaders */
@keyframes spin {{
  from {{
  transform: rotate(0deg);
  }}
  to {{
  transform: rotate(360deg);
  }}
}}
.spinner {{
  display: inline-block;
  animation: spin 2s linear infinite;
  margin: auto !important;
  padding: 0 !important;
  margin-top: 8px !important;
  width:30px !important;
  height:30px !important;
}}
.spinner .img {{
  margin: auto;
  display: block;
  width: 100% !important;
  height: 100% !important;
}}
.loader-global {{
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
}}
.lds-ring {{
   opacity: 0.75;
}}
.loader-global .lds-ring {{
  width: 40px;
  height: 40px;
}}
.loader-global .lds-ring div {{
  width: 32px;
  height: 32px;
  border-width: 5px;
}}

/* tips */
.tips {{
 opacity: 0;
 transition: opacity 1s ease-in-out;
 text-align: center;
 font-size: 0.8rem;
 height: 100vh;
 min-height: 100%;
 bottom: 10px;
}}

.tips p {{
 display: block;
 position: fixed;
 top: 50%;
 margin: auto;
 width: 100%;
 text-align: center;
}}
.tips.visible {{
 opacity: 1;
}}
