body {{ 
    color: #fff;
    background-color: #232629;
}}
::-webkit-scrollbar {{
    height: 12px;
    width: 12px;
    background: #000;
}}
::-webkit-scrollbar-thumb {{
    background: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}}
::-webkit-scrollbar-thumb:hover {{
    background: {QTMATERIAL_PRIMARYLIGHTCOLOR};
}}
::-webkit-scrollbar-corner {{
    background: #000;
}}
a {{
    color: #fff;
}}
.msg-user {{
    color: #cbcbcb !important;
    border-bottom: none;
}}
.msg-bot {{
    color: #fff;
    border-bottom: 1px solid #272a2d;
}}
.msg-highlight {{
    border: 1px solid #323436;
    background-color: #272a2d;
}}
.cmd {{
    color: #4d4d4d;
}}
.ts {{
    color: #4d4d4d;
}}
.list {{
}}
code {{
    color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
}}
.code-wrapper {{
    border: 1px solid #1d1f21;
}}
.code-header-wrapper {{
    background-color: #1d1f21;
}}
.code-header-copy {{
    color: #a0a0a0;
}}
.code-header-copy:hover {{
    color: #fff;
}}
.code-header-lang {{
    color: #4d4d4d;
}}
.action-icons {{
    
}}
.action-icons a:hover {{
    filter: brightness(130%);
}}
